@import 'common';
header {
  border: 1px solid red;
  background-color: $primary-color;

  .header-container {
    border: 1px solid black;
    position: relative;

    .wrap-menu {
      border: 1px solid yellow;
      background-color: $primary-color-dark;
      padding-top: 20px !important;
      padding-bottom: 15px !important;
      width: 100%;
      position: absolute;

      .container {
        border: 1px solid blue;
        padding-left: 15px;
        padding-right: 15px;

        .row {

          .col-md-6 {

            padding-left: 15px;
            padding-right: 15px;
            #logo {
              display: block;
              float: left;

              @media ( max-width: 768px ) {
                height: 30px;
                top: 1px;
              }
              img {
                max-height: 100%;
                border: 1px solid white;

              }
            }

            .btn-white {
              border: solid 2px #fff;
              padding-top: 4px;
              padding-bottom: 2px;
              padding-left: 15px;
              padding-right: 15px;
              border-radius: 18px;
              font-size: 12px;
              line-height: 20px;
              font-weight: 500;
              color: #fff;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
